body {
  padding: 0 0;
  margin: 0 0;
}
.wrapper {
  padding: 0 0;
  margin: 0 0;
  width: 100%;
}
#cartButton{
  background-color: transparent;
  color: black;
  border: 0px solid transparent;
}
.itemsTd {
  padding-right: 70px;
  padding-top: 10px;
}
#cartDiv {
  width: 500px;
}
.cartItemHeader {
  padding: 5px;
}
.selectedButtonLabel {
  color: black;
}
#dropdown-basic-button {
  background-color: transparent;
  color: #888888;
  border: 0px solid transparent;
}
.cartItemImage {
  width: 80px;
}
.cartItem {
  padding: 10px;

}
#cartHeader {
  float: right;
} 
.container {
  margin: 40px 0;
  padding: 0 0;
  width: 80%;
  height: auto;
}
.itemTitle {
  font-size: 1.2em;
  margin: 10px 0;
}
.itemImages {
  height: 550px;
}
.btn-light {
  margin: 0 2px;
}
.itemDescription {
  font-size: 0.8em;
  color: #888888;
}
.itemPrice {
  font-size: 1em;
}
.sizeLabel {
  color: #888888;
  font-size: 0.7em;
  font-weight: bold;
}
.star {
  color: #C90000;
}
.btn-light {
  background-color: white;
}
.navbar-nav {
  float: right;
}