body {
  padding: 0 0;
  margin: 0 0;
}
.wrapper {
  padding: 0 0;
  margin: 0 0;
  width: 100%;
}
#cartHeader {
  cursor: pointer;
} 
.container {
  margin: 40px 0;
  padding: 0 0;
  width: 80%;
  height: auto;
}
.itemTitle {
  margin: 10px 0;
}
.itemImages {
  height: 550px;
}
.btn-light {
  margin: 0 2px;
}