body {
  padding: 0 0;
  margin: 0 0;
}
.wrapper {
  padding: 0 0;
  margin: 0 0;
  width: 100%;
}
#cartHeader {
  float: right;
} 
.container {
  margin: 40px 0;
  padding: 0 0;
  width: 80%;
  height: auto;
}
.itemTitle {
  font-size: 1.2em;
  margin: 10px 0;
}
.itemImages {
  height: 550px;
}
.btn-light {
  margin: 0 2px;
}
.itemDescription {
  font-size: 0.8em;
  color: #888888;
}
.itemPrice {
  font-size: 1em;
}
.sizeLabel {
  color: #888888;
  font-size: 0.7em;
  font-weight: bold;
}
.star {
  color: #C90000;
}
.btn-light {
  background-color: white;
}
.navbar-nav {
  float: right;
}